/* Common Features */
body {
  text-align: center;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Montserrat-bold";
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navbar Section */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "Montserrat-lighter";
}

/* Title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Montserrat-black";
}

.download {
  margin: 5% 3% 5% 0;
}

.title-img {
  right: 30%;
  width: 60%;
  position: absolute;
  transform: rotate(25deg);
}

/* Features Section */
#features {
  position: relative;
}

.features {
  width: 100%;
  padding: 8rem 6rem;
}

.item {
  padding: 0 2rem;
}

.fas {
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 0.9rem;
}

.fas:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials Section */
#testimonials .colored-section {
  background-color: #ef8172;
  color: #fff;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.testimonials-heading {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

/* Press Section */
#press {
  padding-bottom: 3%;
}

#press .colored-section {
  background-color: #ef8172;
  color: #fff;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 4% 7%;
}

.pricing-heading {
  line-height: 1.5;
  font-size: 2rem;
}

.pricing-col {
  padding: 3% 2%;
}

.space {
  margin-bottom: 3.3rem;
}

p {
  color: #8f8f8f;
  font-size: 0.9rem;
}

/* Call to Action Section */
#cta {
  color: #fff;
  padding: 7% 15%;
  line-height: 1.5;
  background-color: #ff4c68;
}

#cta h3 {
  font-size: 3rem;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  background-color: #fff;
}

.social {
  padding: 20px 10px;
}

.right {
  padding-top: 1rem;
}

/* media quary */
@media (max-width: 1028px) {
  .navbar-nav{
    margin-top: 5%;
  }

  .nav-link{
    font-size: 1.5rem;
  }

  .big-heading {
    text-align: center;
  }

  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }

  .social {
    font-size: 2rem;
  }

  .right {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
}
